/* MAIN CSS FILE */

* {
    margin: 0px;
    padding: 0px;
}

/* HEADER */
header {
    display: flex;
    background-color: #333;
    color: white;
    padding: 30px;
    margin-bottom: 10px;
    align-items: center;
}

nav a{
    color: white;
    font-weight: 600;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    padding: 0 5;
    position: relative;
    left: 370%;
}

/* FOOTER */
footer {
    background-color: #333;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-times {
    padding: 10px;
    font-size: small;
    list-style-type: none;
}

.footer-info {
    padding: 5;
    left: 40px;
}

/* BODY */
body {
    background-color: grey;
    height: 100%;
}

.home-desc {
    background-color: grey;
    width: 40%;
    position: relative;
    left: 10%;
    padding: 10px;
    margin: 20;
}