/* MAIN CSS FILE */

.s-rem {
    padding: 1rem;
}

.form-light {
    background: #ececec; 
    color: black;
}

.indent {
    text-indent: 30px;
}

.map {
    height: 300px;
    width: 350px;
    float: right;
}

.add-to-cart:hover {
    background-color: grey;
}

.product-description {
    font-family: serif, sans-serif;
    font-size: 18px;
}