/* MAIN CSS FILE */

* {
    margin: 0px;
    padding: 0px;
}

/* HEADER */
header {
    display: flex;
    background-color: #333;
    color: white;
    padding: 30px;
    margin-bottom: 10px;
    align-items: center;
}

nav a{
    color: white;
    font-weight: 600;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
}

/* FOOTER */
footer {
    background-color: #333;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-times {
    padding: 1px;
    font-size: small;
}

/* BODY */
body {
    background: #fafafa;
    color: #333;
    height: 100%;
}

