{% extends "base/base.html" %}
{% block content %}
<! Code here! 
Info of the store (more detailed than footer, location on map, made-up history etc)
>
  <h1>ABOUT PAGE!</h1>
  <br>
  <h2>Company Name</h2>
  
  <p>
    Brief introduction of what the company does.
  </p>
  <br>
  <p>We're located in:<br>
    Somestreet 123<br>
    Somecity, 45678<br>
    Somecountry
  </p>
  <p>Open hours:<br>
    Mon-Fri: 08:00-21:00<br>
    Sat: 10:00-18:00<br>
    Sun: Closed. 
  </p>
  {% endblock content %}
