<! Headers for links to navigate the website (store/feedback/account)
   Footers for relevant info links (location/contact info/opening and closing times) >
{% load static %}
<!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
<! FAVICON >
    <header>
        <a href="{% url 'home-page' %}">Home</a>
        <a href="{% url 'store-page' %}">Store</a>
        <a href="{% url 'about-page' %}">About us</a>
        <a href="{% url 'account-page' %}">My account</a>
        <a href="{% url 'contact-page' %}">Contact us</a>
      
    {% if title %}
    <title>Verkkokauppa - {{ title }}</title>
    {% else %}
    <title>Verkkokauppa</title>
    {% endif %}
</head>
<body>
    {% if messages %}
        {% for message in messages %}
          <h3>{{ message }}</h3>
        {% endfor %}
    {% endif %}
    {% block content %}{% endblock %}
</body>
</html>