<! HTML For front page of the store. Possibly showing items on SALE, AD:s and news. >
{% extends "base/base.html" %}
{% block content %}
<! Code here! >
    <h1 style="background-color: black; color: white;">HOME PAGE!</h1>
    <br>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dapibus mi non tortor egestas hendrerit.
      Curabitur hendrerit, leo at dapibus molestie, diam libero pulvinar turpis, sed fermentum velit sapien at dolor.
      Morbi vel mauris rhoncus, fermentum ex et, consectetur mauris. Mauris nec turpis non libero accumsan lacinia id eu nulla.
      Curabitur et lacus lacinia, blandit nisl sed, lobortis magna. Duis scelerisque ex erat, at pharetra magna blandit vitae.
      Proin varius felis nunc, eget hendrerit nisl pharetra sed. Etiam egestas augue sit amet lacus ultrices sollicitudin.
      Nunc quis placerat urna, sed tempor nisl. Quisque auctor eleifend pellentesque. Etiam eu velit lectus. Vestibulum fermentum odio pretium massa luctus sagittis.
      Ut tortor urna, mattis nec dolor nec, pharetra pellentesque velit. Vivamus eget scelerisque elit. Morbi ac nisi pharetra, malesuada turpis nec, viverra urna.
  </p>
{% endblock content %}