{% extends "base/base.html" %}
{% block content %}

<h1>{{ products.first.product_category }}<h1>
  {% for product in products %}
    <div class="s-rem">
      <div class="card" style="width: 30rem;">
      <img src="{{ product.image.url }}" class="card-img-top">
        <div class="product-description card-body">
            <h5 class="card-title">Name: {{ product }}</h5>
            <br>
            Price: {{ product.price|floatformat:2 }} €
            <br>Breed: {{ product.product_category }}
            <br>Age: {{ product.age }}
            <p>
            Description: {{ product.description }}
            </p>
            <a href="{% url 'add_to_cart' product.id %}" class="btn btn-primary">Add to cart</a>
        </div>
      </div>
    </div>
    {% endfor %}
{% endblock content %}