{% extends "base/base.html" %}
{% block content %}
<! Code here! >
    <h1>PRODUCT ---{{ products.first.product_category }}--- PAGE!<h1>
    {% for product in products %}
    <img src="{{ product.image.url }}">
    <ul>
        <li>Name: {{ product }}
            <br>Price: {{ product.price|floatformat:2 }} €
            <br>Breed: {{ product.product_category }}
            <br>Age: {{ product.age }}
            <p>
            <br>Description: {{ product.description }}
            </p>
    </ul>
    {% endfor %}
{% endblock content %}