{% extends "base/base.html" %}
{% block content %}

    <h1>STORE PAGE!</h1>
    {% if categories %}
        <h3>Breeds:</h3>
        {% for category in categories %}
            <a href="{% url 'product-page' category.id %}">{{ category }}</a>
            {% if category.description %}
                <br>
                {{ category.description }}
            {% endif %}
            <br>
        {% endfor %}
    {% else %}
        <h2>Nothing to show!</h2>
    {% endif %}
{% endblock content %}