{% extends "base/base.html" %}
{% block content %}
<h1>MyCompany Store</h1>
<br/>
<br/>
<div class="s-rem">
    <!-- Loop through categories and display each one-->
  {% if categories %}       
    <h4>
      Here you can select from our wonderful breeds!
      <br/>
    </h4>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2 g-xl-4">
    {% for category in categories %}
    <div class="col">
    <div class="card">
      <div class="card-body">
      <a href="{% url 'product-page' category.id %}">
      <!--Show category pic from category db table as url-->
        <img src="{{ category.image.url }}"></a>
      <p>{{ category.description }}</p>
      <!--Only show if user has an account-->
      {% if user.is_authenticated %}
      <a href="{% url 'product-page' category.id %}"><button class="btn btn-info">Browse: {{ category }}</button></a>
      {% else %}
      <small>If you wish to browse or buy one, 
        <a href="{% url 'register-page' %}">register</a> an account or 
        <a href="{% url 'login-page' %}">log in</a>
      </small>
      {% endif %}
      </div>
    </div>
    <br>
    </div>
    {% endfor %}
    </div>
  {% else %}
        <p>Nothing to show!</p>
  {% endif %}
</div>
{% endblock content %}