{% extends "base/base.html" %}
{% block content %}
<h1>MyCompany Store</h1>
<br/>
<br/>
<div class="s-rem">
    <!-- Loop through categories and display each one-->
  {% if categories %}       
    <h3>
      Here you can select from our wonderful breeds!
    </h3>

    {% for category in categories %}
      <div>
        <a href="{% url 'product-page' category.id %}">
        <!--Show category pic from category db table as url-->
          <img src="{{ category.image.url }}">
        </a>
        <a href="{% url 'product-page' category.id %}"><p>Click here to browse the category: {{ category }}</p></a>
        <p>{{ category.description }}</p>
      </div>
      <br>
    {% endfor %}
  {% else %}
        <p>Nothing to show!</p>
  {% endif %}
</div>
{% endblock content %}