{% extends "base/base.html" %}
{% block content %}
<! Code here! >
    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend class="mb-4">Log In</legend>
                {{ form.as_p }}
            </fieldset>
        <button type="submit">Login</button>
        </form>
        <div class="pt-3">
            <small>
                Need an account? <a href="{% url 'register-page' %}">Sign up now!</a>
            </small>
        </div>
    </div>
{% endblock content %}