{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend class="mb-4">Log In</legend>
                {{ form|crispy }}
            </fieldset>
        <button type="submit">Login</button>
        </form>
        <div class="pt-3">
            <small>
                Need an account? <a href="{% url 'register-page' %}">Sign up now!</a>
            </small>
        </div>
    </div>
{% endblock content %}